body { text-align: center; font-family: "Courier"; }
<<<<<<< HEAD
#cabecera { font-weight: bold; color: red; }
=======
#cabecera { font-weight: bold; }
#footer { font-weight: bold; color: yellow; }
>>>>>>> footer
